* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

::backdrop {
  background-color: gray;
  opacity: .75;
}

dialog {
  justify-self: center;
  align-self: center;
  height: 400px;
  width: 400px; 

}

.nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;

}

.logo {
  font-size: larger;
  font-weight: bolder;
}

.home,
.signin {
  border: 1px solid black;
  padding: 20px 50px;
  /* box-shadow: 8px 4px #999; */
}

.home {
  background-color: darksalmon;
}

.main {
  display: flex;  
  width: 100%;
  height: 90%;
}

.library,
.statbar,
.nav {
  border: 4px solid black;
}

.library {
  flex: 4;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adder,
.selection {
  border: 1px solid black;
  width: 90%;

}

.adder {
  flex: 10%;
  background-color: blanchedalmond;
  align-content: center;
  text-align: center;
}

.addbook {
  border-radius: 50%;
  font-size: 16px;
  padding: 20px 25px;

}

.selection {
  flex: 90%;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
}

/* form > div > label {
  font-style: bold;
} */

.selection > div > button {
  width: 80%;
  height: 15%;
  text-align: center;
  border-radius: 20px;
  /* border-style: none; */
  font-weight: bolder;
}

.statbar {
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 40px;
}

input {
  width: 50%;
}

form > div {
  padding-bottom: 20px;
}

.bookcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.bookcard > * {
  margin-bottom: 20px;
}